@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// $primary: #394373;
$primary: rgb(59, 68, 133);
$secdondary: #6AADBA;
$navbar-height: 56px;
$font-family-sans-serif: "Roboto", serif;
$font-family-display: "Kalam", serif;

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #CCC;
  font-family: $font-family-sans-serif;

  &:before {
    border: 10px solid $primary;
    bottom: 0;
    content: "";
    left: 0;
    // mix-blend-mode: screen;  
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 56px;
    z-index: 1000;
  }
}

.display-3 {
  font-family: $font-family-display;
  font-weight: 700;
}


.movie-bg {
  background-color: white;
  background-size: cover;
  bottom: 0;
  background-blend-mode: luminosity;
  // filter: blur(30px);
  left: 0;
  position: fixed;
  right: 0;
  top: $navbar-height;
  z-index: 0;

  &:before {
    @include gradient-x(rgba(white,.5), rgba(white,.75));
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: multiply;
    position: fixed;
    right: 0;
    top: 56px;
    z-index: 1000;
  }
  &:after {
    @include gradient-x(rgba($secdondary,.9), rgba($primary,1));
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: screen;
    position: fixed;
    right: 0;
    top: 56px;
    z-index: 1001;
  }
}


.sidebar {
  // background-color: #ddd;
  margin-top: ($navbar-height + 10);
  padding: 20px;
  position: relative;
  // width: 300px;
  z-index: 1;
}

.main {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: ($navbar-height + 10);
  padding: 50px;
  position: relative;
  z-index: 1;
}

.poster {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 5px 30px rgba(0, 0, 0, 0.3);
}



.navbar {
  @include gradient-x($primary, $secdondary);
  box-shadow: 0 0 30px rgba(black, .3);
}

.navbar-brand {
  font-family: $font-family-display;
}




.player-wrapper {
  display: none;
}



.bacon {
  background-color: #ccc;
  bottom: 10px;
  height: 100px;
  left: 10px;
  padding: 10px;
  position: fixed;
  right: 10px;
  z-index: 2001;
}

.progress {
  background: none;
  height: 8px;
}


.progress-played, .progress-loaded, .slider {
  position: absolute;
  top: 40px;
  left: 50px;
  right: 50px;
}

















/**
* Rangeslider
*/
.rangeslider {
  margin: 0;
  position: relative;
  // background: #e6e6e6;
  -ms-touch-action: none;
  touch-action: none;
}
.rangeslider,
.rangeslider .rangeslider__fill {
  display: block;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}
.rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
}
.rangeslider .rangeslider__handle .rangeslider__active {
  opacity: 1;
}
/**
* Rangeslider - Horizontal slider
*/
.rangeslider-horizontal {
  height: 12px;
  border-radius: 10px;
}
.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  top: 0;
}
.rangeslider-horizontal .rangeslider__handle {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
  transition: 250ms all;
  &:hover {
    height: 30px;
    width: 30px;
  }
}
// .rangeslider-horizontal .rangeslider__handle:after {
//   content: ' ';
//   position: absolute;
//   width: 16px;
//   height: 16px;
//   top: 6px;
//   left: 6px;
//   border-radius: 50%;
//   background-color: #dadada;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset;
// }
.rangeslider-horizontal .rangeslider__handle-tooltip {
  top: -55px;
}
.rangeslider-horizontal .rangeslider__handle-tooltip:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  left: 50%;
  bottom: -8px;
  transform: translate3d(-50%, 0, 0);
}
