@import '../../node_modules/bootstrap/scss/bootstrap.scss';

html, body {
  height: 100%;
}

body {
  background: red;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #CCC;
}




.sidebar {
  background-color: #ddd;
  float: left;
  height: 100%;
  padding: 20px;
  width: 300px;
}

.main {
  float: left;
  width: 900px;
}



iframe {
  width: 100%;
}



.navbar {
  // background: red;
  @include gradient-x(#4D559A, #6AADBA);
}