@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// $primary: #394373;
$primary: rgb(59, 68, 133);
$secdondary: #6AADBA;
$navbar-height: 56px;
$font-family-sans-serif: "Roboto", serif;
$font-family-display: "Kalam", serif;

html, body {
  height: 100%;
}

body {
  background: red;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #CCC;
  font-family: $font-family-sans-serif;

  &:before {
    border: 10px solid $primary;
    bottom: 0;
    content: "";
    left: 0;
    // mix-blend-mode: screen;  
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 56px;
    z-index: 1000;
  }
}

.display-3 {
  font-family: $font-family-display;
  font-weight: 700;
}


.movie-bg {
  background-color: white;
  background-size: cover;
  bottom: 0;
  background-blend-mode: luminosity;
  // filter: blur(30px);
  left: 0;
  position: fixed;
  right: 0;
  top: $navbar-height;
  z-index: 0;

  &:before {
    @include gradient-x(rgba(white,.5), rgba(white,.75));
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: multiply;
    position: fixed;
    right: 0;
    top: 56px;
    z-index: 1000;
  }
  &:after {
    @include gradient-x(rgba($secdondary,.9), rgba($primary,1));
    bottom: 0;
    content: "";
    left: 0;
    mix-blend-mode: screen;
    position: fixed;
    right: 0;
    top: 56px;
    z-index: 1001;
  }
}


.sidebar {
  // background-color: #ddd;
  margin-top: ($navbar-height + 10);
  padding: 20px;
  position: relative;
  // width: 300px;
  z-index: 1;
}

.main {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: ($navbar-height + 10);
  padding: 50px;
  position: relative;
  z-index: 1;
}

.poster {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 5px 30px rgba(0, 0, 0, 0.3);
}



.navbar {
  @include gradient-x($primary, $secdondary);
  box-shadow: 0 0 30px rgba(black, .3);
}

.navbar-brand {
  font-family: $font-family-display;
}
